*.la
*.lo
*.in

extension/Makefile*
extension/acinclude.m4
extension/aclocal.m4
extension/autom4te.cache/
extension/config.guess
extension/config.h
extension/config.log
extension/config.nice
extension/config.status
extension/config.sub
extension/configure
extension/install-sh
extension/libtool
extension/ltmain.sh
extension/missing
extension/mkinstalldirs
extension/modules/
extension/run-tests.php

extension/.deps
extension/.libs/*
extension/build/*
extension/tests/*.sh
extension/tests/*.exp
extension/tests/*.out
extension/tests/*.diff
extension/tests/*.log
extension/tests/*.php
!extension/tests/common.php
!extension/tests/xhprof_004_inc.php
!extension/tests/xhprof_004_require.php
!extension/tests/xhprof_010_append.php
!extension/tests/xhprof_011_prepend.php
